Source: libdxrt
Section: libs
Priority: optional
Maintainer: DEEPX Runtime Team <rt@deepx.ai>
Build-Depends: debhelper (>= 9), cmake
Standards-Version: 3.9.6
Homepage: https://deepx.ai

Package: libdxrt
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: a DEEPX runtime library
 DXRT library
